* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    text-align: center;
}

#cardall {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    gap: 20px;

}

.card {
    width: 320px;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

.pimg, img{
    border-radius: 100px;
    text-align: center;

}

.card, h2, h3, p {
    padding-top: 10px;
}

/* its my footer part  */

#pagelist .mypages {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.25em;
    margin-bottom: 20px;
}    
