* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* this class for full body */
#Firstpart {
    margin-top: 30px;
    padding-left: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* this class for menu bar  */
.search-bar {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: px
}


.searchbar #searchbox {

    height: 35px;
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;

}



#btn-srch {
    padding: 10px 10px;
    border-radius: 5px;
}

/* this is my img div  */

.img {
    margin-bottom: 15px;
}

/* this is my footer part  */

.footer {
    margin-bottom: 20px;
}

/* this is my feedback form part  */

.form h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.form #Name {
    margin-bottom: 10px;
}

.form #Date {
    margin-bottom: 10px;
}

.form #Commentbox {
    margin-bottom: 20px;
}

.form #submitbtn {
    padding: 8px;
}

/* its my footer part  */

#pagelist .mypages {
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.25em;
    margin-bottom: 20px;
}