* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* its my storybox section 
 */

.headerofstrybox #titleofstrybox {
    font-size: 1.25em;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 5px;
    text-decoration: underline;
}

.headerofstrybox #strybox {
    margin-top: 5px;
    margin-left: 10px;
}

/* its option box design  */

.selectrating {
    margin-top: 30px;
}



.selectrating #ratingbox {
    font-style: italic;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
    height: 25px;
    width: 180px;
}

.selectrating #optionheadertag {
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 700;
    font-size: 1.25em;
}

/* its my submit button  */

#submitbtn {
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 1.20em;
    border-radius: 5px;
}


/* its my footer part  */

#pagelist .mypages {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.25em;
    margin-bottom: 20px;
}