* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.tableheader,
h1 {
    max-width: 1140px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

.tabledetails {
    max-width: 1140px;

}

.tabledetails,
th,
td {
    padding: 10px;
    height: 30px;
    border: 1px solid black;
    /* border-collapse: collapse;  */
    /* font-size: 1em;  */
    font-weight: 500;
    text-align: center;

}

.tabledetails,
.caption {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 10px;
}

.fstroundhead {
    font-size: 1.20em;
    font-weight: 900;
}

/* its my footer part  */

#pagelist .mypages {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 1.25em;
    margin-bottom: 20px;
}